<div class="container-fluid text-center text-white">
  <div class="row">
    <div class="col">
      <h1 class="title title-md">HistoryGuessr</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="text-shadow-black">Image n°{{ currentRound }} / 10</h2>
      <h3 class="text-shadow-black">Score : {{score}}</h3>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-2" *ngFor="let image of images">
        <img src="{{image}}" alt="Image n°{{currentRound}}" class="img-fluid zoom">
    </div>
    <div class="col-2">
      <button class="w-100 h-100" (click)="newImg()" mat-raised-button color="warn">Rajouter une image supplémentaire</button>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-6 form-guess">
      <div class="container">
        <ng-form name="yearInput">
          <h2>À quelle année cette image correspond ?</h2>
          <mat-form-field>
            <mat-label for="input" >Année :</mat-label>
            <input matInput name="input" id="input" [(ngModel)]="yearGuess" placeholder="2020" pattern="[0-9]{1,4}" required>
          </mat-form-field>
          <div>
            <button class="w-100" (click)="onSubmit()" mat-raised-button color="primary" [disabled]="buttonDisabled">Valider</button>
          </div>
        </ng-form>
      </div>
    </div>
  </div>
</div>
